.App {
    margin-top: 50px;
}

.App .row {
    margin: 50px 0;
}

.App .metric {
    text-align: center;
    margin-bottom: 20px;
}

.App .metric .good, .App table.table td .good {
    color: #2C9938;
}

.App .metric .bad, .App table.table td .bad {
    color: #e6522c;
}

.App table.table thead th:hover,
.App table.table tbody tr.table-row-clickable:hover {
    cursor: pointer;
}

.external-prometheus svg {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
    opacity: 0.5;
}
.external-prometheus:hover svg {
    opacity: 1;
}