.App {
    margin-top: 50px;
}

.App .metric {
    text-align: center;
}

.App .metric .good, .App table.table td .good {
    color: #2C9938;
}

.App .metric .bad, .App table.table td .bad {
    color: #e6522c;
}

.App table.table thead th:hover {
    cursor: pointer;
}