apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: pyrra-kubernetes-tls
  labels:
    app.kubernetes.io/component: kubernetes
    app.kubernetes.io/name: pyrra
    app.kubernetes.io/version: 0.7.5
  name: pyrra-kubernetes
  namespace: openshift-monitoring
spec:
  ports:
  - name: metrics
    port: 8080
    targetPort: 8080
  - name: http
    port: 9444
    targetPort: 9444
  - name: webhooks
    port: 9443
    targetPort: 9443
  selector:
    app.kubernetes.io/component: kubernetes
    app.kubernetes.io/name: pyrra
