apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: pyrra-api-tls
  labels:
    app.kubernetes.io/component: api
    app.kubernetes.io/name: pyrra
    app.kubernetes.io/version: 0.7.5
  name: pyrra-api
  namespace: openshift-monitoring
spec:
  ports:
  - name: http
    port: 9099
    targetPort: 9099
  selector:
    app.kubernetes.io/component: api
    app.kubernetes.io/name: pyrra
