name: Go
on:
  pull_request:
  push:
    branches:
      - 'release-*'
      - 'main'
    tags:
      - 'v*'
env:
  golang-version: '1.17'
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
jobs:
  go:
    runs-on: ubuntu-latest
    name: Go
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: actions/setup-go@a5f9b05d2d216f63e13859e0d847461041025775
        with:
          go-version-file: 'go.mod'
      - run: mkdir -p ui/build && touch ui/build/empty
      - run: make test
      - run: make pyrra
