name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
    paths:
      - '**.go'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - uses: actions/setup-go@a5f9b05d2d216f63e13859e0d847461041025775
        with:
          go-version-file: 'go.mod'
      - name: Build UI
        run: make ui
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6.1.1
        with:
          args: --timeout=10m
          version: 'latest'
