name: ui-test
on:
  push:
    branches:
      - main
    paths:
      - 'ui/**'
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          # renovate: datasource=node-version depName=node versioning=node
          - 24.x
          # renovate: datasource=node-version depName=node versioning=node
          - 24.x

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
        working-directory: ./ui
      - run: npm run lint
        working-directory: ./ui
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          # renovate: datasource=node-version depName=node versioning=node
          - 24.x
          # renovate: datasource=node-version depName=node versioning=node
          - 24.x

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
        working-directory: ./ui
      - run: npm run test
        working-directory: ./ui

